body{
  background-color: white;
  --ion-safe-area-top: 50px;
  /* --ion-safe-area-bottom: 50px; */
}

.header{
  height: 40px;
  display: inline-flex;
  align-items: center;
  gap: 2;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.custom-back-button{
  --width: 14px; /* Adjust the width to your desired size */
  --height: 14px; /* Adjust the height to your desired size */
}
